<head>
<meta charset="UTF-8">
<title>SHIP MANAGEMENT SYSTEM</title>
<style>
a:link {color:#660099;}    /* unvisited link */
a:visited {color:#3300ff;} /* before visiting */
a:hover {color:#cc0033;font-size:150%;text-decoration:underline;}   /* mouse over link */
a:active {color:#660099;text-decoration:underline;}  /* selected link */
</style>
</head>
<body bgcolor = "#c0c0c0">
	<h1 align  = "center"> SHIP MANAGEMENT SYSTEM</h1>
	</br>
	</br>
	<img  src="index.jpeg"  width="620" height="300">
	<img  src="ima.jpeg"  width="620" height="300">
	</br>
	</br>
	<a href="#Div1" ><font size="3">Home</a></font>&nbsp;&nbsp;
	<fieldset style = "text-align:center;">
	<legend><b>adminLogin</b></legend>
	<table align = "center">
	<tr>
		<td align = "right">Username:</td>
		<td><input type = text name = "username" style = "width:120px;" required/></td>
	</tr>
	<tr>
		<td align = "right">Password:</td>
		<td><input type = password name = "pwd" style = "width:120px;" required></td>
	</tr>
	</br>
	<tr>
		<td><input type = submit value = "Login" style = "width:120px;" onClick = "window.location.href ='admin.html';"/></td>
		</br>
		<td><input type = submit value = "clear" style = "width:120px;" onClick = "window.location.href ='home1.html';"/></td>
	</tr>
		</table>
		</fieldset>
</body>
</html>